
body {
}

#container {
    display: table;
}

#bibliography {
    font-size: 12px;
    display: table-cell;
    width: 600px;
}

#shape_poem {
    font-size: 14px;
    font-family: monospaced;
    display: table-cell;
    width: 580px;
    padding-left: 20px;
    padding-top: 20px;
}

#controls {
    display: table-cell;
    vertical-align: top;
    width: 200px;

}

.control_line {
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}

.control_content {
    padding-top: 30px;
}

.metadata_div {
    font-size: 10px;
    font-family: serif;
}

.metadata_label {
    display: inline-block;
    width: 125px;
}

.poem_container {
    display: none;
}

h1 {
    padding-left: 50px;
    font-family: 'Libre Baskerville', serif; 
    font-size: 24px;
    font-weight: bold;
    color: #111111;
}

.bib_prose {
    padding-left: 25px;
    font-family: 'Libre Baskerville', serif; 
    font-size: 16px;
    color: #111111;
}

.bib_entry {
    padding-left: 75px;
    text-indent: -25px;
    font-family: 'Libre Baskerville', serif; 
    font-size: 12px;
    color: #111111;
}

.author {
}

.title {
    font-style: italic;
}

#control_title {
    z-index: -1;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 60px;
    font-family: 'Cinzel', serif;
    color: #E0E0E0;
    font-variant: small-caps;
    width: 600px;
    position: absolute;
    top: 290px;
    left: 420px;
}

#control_subtitle {
    z-index: -1;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    font-size: 40px;
    font-family: 'Libre Baskerville', serif; 
    color: #E0E0E0;
    font-style: italic;
    width: 600px;
    position: absolute;
    top: 225px;
    left: 490px;
}

svg {
    margin-top: 10px;
    margin-left: 50px;
}

.frontispiece_prose {
    margin-left: 50px;
    width: 420px;
    font-family: 'Libre Baskerville', serif; 
    font-size: 16px;
    color: #111111;
    margin-bottom: 0px;
}

#hidden_controls_container {
    display: none;
}

.control_a:hover {
    border-bottom: 6px solid #888888;
}

.frontispiece_source {
    margin-top: 5px;
    margin-left: 270px;
    font-family: 'Libre Baskerville', serif; 
    font-size: 16px;
    color: #111111;
}


