<div class="verso">
    <div class="bibliography_container">
        
<h1>Sources Consumed</h1>

<p class="bib_prose">Images were sourced from wikimedia.  Ornamental line drawings are from Franz Sales Meyer, <i>A Handbook of Ornament</i>.  Other images are from various U.S. government agencies.</p>

<p class="bib_prose">Bible texts (KJV) were sourced from the Zefania project at sourceforge:</p>

<p class="bib_entry"><span class="title">Genesis.</span></p>
<p class="bib_entry"><span class="title">Nehemiah.</span></p>
<p class="bib_entry"><span class="title">Psalms.</span></p>
<p class="bib_entry"><span class="title">Song of Songs.</span></p>

<p class="bib_prose">All other texts were sourced from Project Gutenberg:</p>

<p class="bib_entry"><span class="author">Abbott, Lyman; Carman, Bliss.</span> <span class="title">The World's Best Poetry, Volume 3: Sorrow and Consolation.</span></p>
<p class="bib_entry"><span class="author">Abelard, Peter.</span> <span class="title">Historia Calamitatum.</span></p>
<p class="bib_entry"><span class="author">Adams, H. S. (Henry Sherman).</span> <span class="title">Making A Rock Garden.</span></p>
<p class="bib_entry"><span class="author">Aikman, Charles Morton.</span> <span class="title">Manures and the principles of manuring.</span></p>
<p class="bib_entry"><span class="author">Allen, Grant.</span> <span class="title">Falling in Love; With Other Essays on More Exact Branches of Science.</span></p>
<p class="bib_entry"><span class="author">Anonymous.</span> <span class="title">Fishes, Flowers, and Fire as Elements and Deities in the Phallic Faiths and Worship of the Ancient Religions of Greece, Babylon,.</span></p>
<p class="bib_entry"><span class="author">Apgar, A. C. (Austin Craig).</span> <span class="title">Trees of the Northern United States Their Study, Description and Determination.</span></p>
<p class="bib_entry"><span class="author">Apollonius, Rhodius; Seaton, R. C. (Robert Cooper).</span> <span class="title">The Argonautica.</span></p>
<p class="bib_entry"><span class="author">Aristotle; Edghill, E. M..</span> <span class="title">The Categories.</span></p>
<p class="bib_entry"><span class="author">Arnold, Edwin Lester Linden.</span> <span class="title">Gulliver of Mars.</span></p>
<p class="bib_entry"><span class="author">Augustine, Saint, Bishop of Hippo; Pusey, E. B. (Edward Bouverie).</span> <span class="title">The Confessions of St. Augustine.</span></p>
<p class="bib_entry"><span class="author">Austen, Jane.</span> <span class="title">Pride and Prejudice.</span></p>
<p class="bib_entry"><span class="author">Babbage, Charles.</span> <span class="title">On the Economy of Machinery and Manufactures.</span></p>
<p class="bib_entry"><span class="author">Bacon, Francis.</span> <span class="title">The Essays of Francis Bacon.</span></p>

    </div>
</div>
<div class="recto">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Bagehot, Walter.</span> <span class="title">Physics and Politics, or, Thoughts on the application of the principles of "natural selection" and "inheritance" to political society.</span></p>
<p class="bib_entry"><span class="author">Basilius Valentinus; Cable, Daniel.</span> <span class="title">Of Natural and Supernatural Things  Also of the first Tincture, Root, and Spirit of Metals and Minerals, how the same are Conceived, Generated, Brought forth, Changed, and Augmented..</span></p>
<p class="bib_entry"><span class="author">Bastiat, Frédéric.</span> <span class="title">Essays on Political Economy.</span></p>
<p class="bib_entry"><span class="author">Baudelaire, Charles; Squire, John Collings, Sir.</span> <span class="title">The Three Hills, and Other Poems.</span></p>
<p class="bib_entry"><span class="author">Berkeley, George.</span> <span class="title">A Treatise Concerning the Principles of Human Knowledge.</span></p>
<p class="bib_entry"><span class="author">Berkeley, George.</span> <span class="title">An Essay Towards a New Theory of Vision.</span></p>
<p class="bib_entry"><span class="author">Berkeley, George.</span> <span class="title">Three Dialogues Between Hylas and Philonous in Opposition to Sceptics and Atheists.</span></p>
<p class="bib_entry"><span class="author">Bion, of Phlossa near Smyrna; Moschus; Theocritus; Lang, Andrew.</span> <span class="title">Theocritus, Bion and Moschus, Rendered into English Prose.</span></p>
<p class="bib_entry"><span class="author">Bodemer, Charles W.; King, Lester S. (Lester Snow), 1908.</span> <span class="title">Medical Investigation in Seventeenth Century England Papers Read at a Clark Library Seminar, October 14, 1967.</span></p>
<p class="bib_entry"><span class="author">Boethius; James, H. R. (Henry Rosher).</span> <span class="title">The Consolation of Philosophy.</span></p>
<p class="bib_entry"><span class="author">Boyle, Robert.</span> <span class="title">Experiments and Considerations Touching Colours (1664).</span></p>
<p class="bib_entry"><span class="author">Boyle, Robert.</span> <span class="title">The Sceptical Chymist or Chymico-Physical Doubts & Paradoxes, Touching the Spagyrist's Principles Commonly call'd Hypostatical; As they are wont to be Propos'd and Defended by the Generality of Alchymists. Whereunto is præmis'd Part of another Discourse relating to the same Subject..</span></p>
<p class="bib_entry"><span class="author">Brewster, David, Sir.</span> <span class="title">The Martyrs of Science, or, The lives of Galileo, Tycho Brahe, and Kepler.</span></p>
<p class="bib_entry"><span class="author">Brontë, Charlotte; Townsend, F. H. (Frederick Henry).</span> <span class="title">Jane Eyre.</span></p>
<p class="bib_entry"><span class="author">Browne, Thomas, Sir; Sayle, Charles.</span> <span class="title">The Works of Sir Thomas Browne, Volumes 1, 2 and 3.</span></p>

    </div>
</div>
<div class="page_break"> </div>
<div class="verso">
    <div class="bibliography_container">

<p class="bib_entry"><span class="author">Browning, Robert; Clarke, Helen Archibald; Porter, Charlotte Endymion.</span> <span class="title">Men and Women.</span></p>
<p class="bib_entry"><span class="author">Bulfinch, Thomas.</span> <span class="title">Bulfinch's Mythology.</span></p>
<p class="bib_entry"><span class="author">Bunyan, John.</span> <span class="title">The Pilgrim's Progress from this world to that which is to come, delivered under the similitude of a dream, by John Bunyan.</span></p>
<p class="bib_entry"><span class="author">Burnett, Frances Hodgson.</span> <span class="title">The Secret Garden.</span></p>
<p class="bib_entry"><span class="author">Butler, Samuel.</span> <span class="title">Evolution, Old & New Or, the Theories of Buffon, Dr. Erasmus Darwin and Lamarck, as compared with that of Charles Darwin.</span></p>
<p class="bib_entry"><span class="author">Butler, Samuel.</span> <span class="title">Unconscious Memory.</span></p>
<p class="bib_entry"><span class="author">Byron, George Gordon Byron, Baron.</span> <span class="title">Childe Harold's Pilgrimage.</span></p>
<p class="bib_entry"><span class="author">Carlyle, Thomas.</span> <span class="title">Sartor Resartus: the life and opinions of Herr Teufelsdröckh.</span></p>
<p class="bib_entry"><span class="author">Carlyle, Thomas.</span> <span class="title">The French Revolution.</span></p>
<p class="bib_entry"><span class="author">Carroll, Lewis.</span> <span class="title">Alice's Adventures in Wonderland.</span></p>
<p class="bib_entry"><span class="author">Cato, Marcus Porcius; Varro, Marcus Terentius; Harrison, Fairfax.</span> <span class="title">Roman Farm Management The Treatises of Cato and Varro.</span></p>
<p class="bib_entry"><span class="author">Catullus, Gaius Valerius; Burton, Richard Francis, Sir; Smithers, Leonard C. (Leonard Charles).</span> <span class="title">The Carmina of Caius Valerius Catullus.</span></p>
<p class="bib_entry"><span class="author">Chaucer, Geoffrey.</span> <span class="title">Troilus and Criseyde.</span></p>
<p class="bib_entry"><span class="author">Chaucer, Geoffrey; Dryden, John.</span> <span class="title">Dryden's Palamon and Arcite.</span></p>
<p class="bib_entry"><span class="author">Churchill, Winston.</span> <span class="title">The River War: An Account of the Reconquest of the Sudan.</span></p>
<p class="bib_entry"><span class="author">Cicero, Marcus Tullius; Yonge, Charles Duke.</span> <span class="title">The Academic Questions, Treatise De Finibus, and Tusculan Disputations, of M.T. Cicero, With a Sketch of the Greek Philosophers Mentioned by Cicero.</span></p>
<p class="bib_entry"><span class="author">Clark, William; Lewis, Meriwether; Jefferson, Thomas; Allen, Paul.</span> <span class="title">History of the Expedition under the Command of Captains Lewis and Clark, Vol. I.  To the Sources of the Missouri, Thence Across the Rocky Mountains and Down the River Columbia to the Pacific Ocean.  Performed During the Years 1804-5-6..</span></p>
<p class="bib_entry"><span class="author">Coleridge, Samuel Taylor.</span> <span class="title">Biographia Literaria.</span></p>
<p class="bib_entry"><span class="author">Coleridge, Samuel Taylor.</span> <span class="title">Hints towards the formation of a more comprehensive theory of life..</span></p>

    </div>
</div>
<div class="recto">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Confucius; Legge, James.</span> <span class="title">The Analects of Confucius (from the Chinese Classics).</span></p>
<p class="bib_entry"><span class="author">Confucius; Lyall, Leonard Arthur.</span> <span class="title">The Sayings Of Confucius.</span></p>
<p class="bib_entry"><span class="author">Conrad, Joseph.</span> <span class="title">Heart of Darkness.</span></p>
<p class="bib_entry"><span class="author">Cooper, James Fenimore.</span> <span class="title">The Last of the Mohicans; A narrative of 1757.</span></p>
<p class="bib_entry"><span class="author">Cowper, William.</span> <span class="title">The Task, and Other Poems.</span></p>
<p class="bib_entry"><span class="author">Crane, Stephen.</span> <span class="title">The Red Badge of Courage.</span></p>
<p class="bib_entry"><span class="author">Dante Alighieri; Longfellow, Henry Wadsworth.</span> <span class="title">Divine Comedy, Longfellow's Translation, Complete.</span></p>
<p class="bib_entry"><span class="author">Darwin, Charles.</span> <span class="title">The Origin of Species by means of Natural Selection, 6th Edition.</span></p>
<p class="bib_entry"><span class="author">Darwin, Charles; Darwin, Francis, Sir.</span> <span class="title">The Power of Movement in Plants.</span></p>
<p class="bib_entry"><span class="author">Darwin, Erasmus.</span> <span class="title">The Botanic Garden  A Poem in Two Parts. Part 1: the Economy of Vegetation.</span></p>
<p class="bib_entry"><span class="author">Defoe, Daniel.</span> <span class="title">A Journal of the Plague Year, written by a citizen who continued all the while in London.</span></p>
<p class="bib_entry"><span class="author">Demosthenes; Kennedy, Charles Rann.</span> <span class="title">The Olynthiacs and the Phillippics of Demosthenes  Literally translated with notes.</span></p>
<p class="bib_entry"><span class="author">Descartes, René.</span> <span class="title">A Discourse of a Method for the Well Guiding of Reason and the Discovery of Truth in the Sciences.</span></p>
<p class="bib_entry"><span class="author">Dickinson, Emily.</span> <span class="title">Poems by Emily Dickinson, Three Series, Complete.</span></p>
<p class="bib_entry"><span class="author">Donne, John.</span> <span class="title">Devotions Upon Emergent Occasions Together with Death's Duel.</span></p>
<p class="bib_entry"><span class="author">Douglass, Frederick.</span> <span class="title">Narrative of the Life of Frederick Douglass.</span></p>
<p class="bib_entry"><span class="author">Drayton, Michael; Griffin, Bartholomew; Smith, William, fl. 1596; Crow, Martha Foote.</span> <span class="title">Elizabethan Sonnet Cycles: Idea, Fidesa and Chloris.</span></p>
<p class="bib_entry"><span class="author">Dryden, John.</span> <span class="title">Discourses on Satire and on Epic Poetry.</span></p>
<p class="bib_entry"><span class="author">Einstein, Albert; Lawson, Robert W. (Robert William).</span> <span class="title">Relativity : the Special and General Theory.</span></p>
<p class="bib_entry"><span class="author">Eliot, T. S. (Thomas Stearns).</span> <span class="title">Poems.</span></p>
<p class="bib_entry"><span class="author">Elliott, James, Sir.</span> <span class="title">Outlines of Greek and Roman Medicine.</span></p>
<p class="bib_entry"><span class="author">Emerson, Ralph Waldo.</span> <span class="title">Essays — First Series.</span></p>
<p class="bib_entry"><span class="author">Emerson, Ralph Waldo.</span> <span class="title">Nature.</span></p>

    </div>
</div>
<div class="page_break"> </div>
<div class="verso">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Epictetus; Long, George.</span> <span class="title">A Selection from the Discourses of Epictetus with the Encheiridion.</span></p>
<p class="bib_entry"><span class="author">Erasmus, Desiderius; Wilson, John.</span> <span class="title">The Praise of Folly.</span></p>
<p class="bib_entry"><span class="author">Evelyn, John.</span> <span class="title">Acetaria: A Discourse of Sallets.</span></p>
<p class="bib_entry"><span class="author">Evelyn, John; Nisbet, John.</span> <span class="title">Sylva, Vol. 1 (of 2)  Or A Discourse of Forest Trees.</span></p>
<p class="bib_entry"><span class="author">Ewald, Carl; Reynolds, Warwick; Teixeira de Mattos, Alexander.</span> <span class="title">The Pond.</span></p>
<p class="bib_entry"><span class="author">Fairholt, F. W. (Frederick William).</span> <span class="title">Rambles of an Archaeologist Among Old Books and in Old Places Being Papers on Art, in Relation to Archaeology, Painting, Art-Decoration, and Art-Manufacture.</span></p>
<p class="bib_entry"><span class="author">Faraday, Michael; Crookes, William, Sir.</span> <span class="title">The Chemical History of a Candle.</span></p>
<p class="bib_entry"><span class="author">Fletcher, Giles; Lodge, Thomas; Crow, Martha Foote.</span> <span class="title">Elizabethan Sonnet Cycles Phillis - Licia.</span></p>
<p class="bib_entry"><span class="author">Forbes, George.</span> <span class="title">History of Astronomy.</span></p>
<p class="bib_entry"><span class="author">Foxe, John.</span> <span class="title">Fox's Book of Martyrs Or A History of the Lives, Sufferings, and Triumphant Deaths of the Primitive Protestant Martyrs.</span></p>
<p class="bib_entry"><span class="author">Freud, Sigmund; Hall, G. Stanley (Granville Stanley).</span> <span class="title">A General Introduction to Psychoanalysis.</span></p>
<p class="bib_entry"><span class="author">Gaudapurnanandacakravarti, 17th cent.; Cowell, Edward B. (Edward Byles).</span> <span class="title">The Tattva-Muktavali.</span></p>
<p class="bib_entry"><span class="author">Gray, Thomas; Carruthers, Robert; Rolfe, W. J. (William James).</span> <span class="title">Select Poems of Thomas Gray.</span></p>
<p class="bib_entry"><span class="author">Grey, Zane.</span> <span class="title">Riders of the Purple Sage.</span></p>
<p class="bib_entry"><span class="author">Hakluyt, Richard.</span> <span class="title">The Principal Navigations, Voyages, Traffiques and Discoveries of the English Nation. Vol. XIII. America. Part II..</span></p>
<p class="bib_entry"><span class="author">Hakluyt, Richard.</span> <span class="title">The Principal Navigations, Voyages, Traffiques, and Discoveries of The English Nation, Vol. XII., America, Part I..</span></p>
<p class="bib_entry"><span class="author">Hall, Jennie.</span> <span class="title">Buried Cities: Pompeii, Olympia, Mycenae (Complete).</span></p>
<p class="bib_entry"><span class="author">Hampson, P..</span> <span class="title">The Romance of Mathematics  Being the Original Researches of a Lady Professor of Girtham College in Polemical Science, with some Account of the Social Properties of a Conic; Equations to Brain Waves; Social Forces; and the Laws of Political Motion.</span></p>

    </div>
</div>
<div class="recto">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Handerson, Henry E. (Henry Ebenezer).</span> <span class="title">Gilbertus Anglicus Medicine of the Thirteenth Century.</span></p>
<p class="bib_entry"><span class="author">Hart, Michael.</span> <span class="title">A Brief History of the Internet.</span></p>
<p class="bib_entry"><span class="author">Hawthorne, Nathaniel.</span> <span class="title">The Blithedale Romance.</span></p>
<p class="bib_entry"><span class="author">Hawthorne, Nathaniel.</span> <span class="title">The Scarlet Letter.</span></p>
<p class="bib_entry"><span class="author">Henry, O.; Loewenstein, Joseph E..</span> <span class="title">Heart of the West [Annotated].</span></p>
<p class="bib_entry"><span class="author">Hobbes, Thomas.</span> <span class="title">Leviathan.</span></p>
<p class="bib_entry"><span class="author">Holmes, Oliver Wendell.</span> <span class="title">The Common Law.</span></p>
<p class="bib_entry"><span class="author">Homer; Butler, Samuel.</span> <span class="title">The Iliad.</span></p>
<p class="bib_entry"><span class="author">Homer; Butler, Samuel.</span> <span class="title">The Odyssey  Rendered into English prose for the use of those who cannot read the original.</span></p>
<p class="bib_entry"><span class="author">Hooper, William George.</span> <span class="title">Aether and Gravitation.</span></p>
<p class="bib_entry"><span class="author">Hopkins, Gerard Manley; Bridges, Robert.</span> <span class="title">Poems of Gerard Manley Hopkins Now First Published.</span></p>
<p class="bib_entry"><span class="author">Horace; Conington, John.</span> <span class="title">The Odes and Carmen Saeculare of Horace.</span></p>
<p class="bib_entry"><span class="author">How, Louis.</span> <span class="title">James B. Eads.</span></p>
<p class="bib_entry"><span class="author">Hume, David.</span> <span class="title">The History of England, Volume I  From the Invasion of Julius Caesar to the Revolution in 1688.</span></p>
<p class="bib_entry"><span class="author">Hume, David; Selby-Bigge, L. A. (Lewis Amherst), Sir.</span> <span class="title">An Enquiry Concerning Human Understanding.</span></p>        
<p class="bib_entry"><span class="author">Huxley, Thomas Henry.</span> <span class="title">Conditions of Existence as Affecting the Perpetuation of Living Beings.</span></p>
<p class="bib_entry"><span class="author">Huxley, Thomas Henry.</span> <span class="title">The Perpetuation of Living Beings; hereditary transmission and variation.</span></p>
<p class="bib_entry"><span class="author">Huygens, Christiaan; Thompson, Silvanus P. (Silvanus Phillips).</span> <span class="title">Treatise on Light  In which are explained the causes of that which occurs in reflexion, & in refraction and particularly in the strange refraction of Iceland crystal.</span></p>
<p class="bib_entry"><span class="author">International Meridian Conference (1884 : Washington, D.C.).</span> <span class="title">International Conference Held at Washington for the Purpose of Fixing a Prime Meridian and a Universal Day. October, 1884. Protocols of the Proceedings.</span></p>
<p class="bib_entry"><span class="author">Jackson, Helen Hunt.</span> <span class="title">A Calendar of Sonnets.</span></p>
<p class="bib_entry"><span class="author">Janes, Donald W..</span> <span class="title">Home Range and Movements of the Eastern Cottontail in Kansas.</span></p>

    </div>
</div>
<div class="page_break"> </div>
<div class="verso">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Jastrow, Morris.</span> <span class="title">The Religion of Babylonia and Assyria.</span></p>
<p class="bib_entry"><span class="author">Jefferies, Richard.</span> <span class="title">Field and Hedgerow: Being the Last Essays of Richard Jefferies.</span></p>
<p class="bib_entry"><span class="author">John of Damascus, Saint.</span> <span class="title">Barlaam and Ioasaph.</span></p>
<p class="bib_entry"><span class="author">Johnson, Samuel.</span> <span class="title">Journey to the Western Islands of Scotland.</span></p>
<p class="bib_entry"><span class="author">Jonson, Ben; Morley, Henry.</span> <span class="title">Discoveries Made Upon Men and Matter and Some Poems.</span></p>
<p class="bib_entry"><span class="author">Kabir; Tagore, Rabindranath.</span> <span class="title">Songs of Kabir.</span></p>
<p class="bib_entry"><span class="author">Keats, John.</span> <span class="title">Poems 1817.</span></p>
<p class="bib_entry"><span class="author">Kehoe, Brendan P..</span> <span class="title">Zen and the Art of the Internet.</span></p>
<p class="bib_entry"><span class="author">King, Edward.</span> <span class="title">Remarks Concerning Stones Said to Have Fallen from the Clouds, Both in These Days, and in Antient Times.</span></p>
<p class="bib_entry"><span class="author">Laozi; Legge, James.</span> <span class="title">The Tao Teh King, or the Tao and its Characteristics.</span></p>
<p class="bib_entry"><span class="author">Latimer, Hugh; Morley, Henry.</span> <span class="title">Sermons on the Card.</span></p>
<p class="bib_entry"><span class="author">Layard, Austen H..</span> <span class="title">Discoveries among the Ruins of Nineveh and Babylon.</span></p>
<p class="bib_entry"><span class="author">Leonardo da Vinci; Richter, Jean Paul.</span> <span class="title">The Notebooks of Leonardo Da Vinci — Complete.</span></p>
<p class="bib_entry"><span class="author">Levy, Steven.</span> <span class="title">Hackers, Heroes of the Computer Revolution  Chapters 1 and 2.</span></p>
<p class="bib_entry"><span class="author">Lewis, C. S. (Clive Staples).</span> <span class="title">Spirits in bondage; a cycle of lyrics.</span></p>
<p class="bib_entry"><span class="author">Locke, John.</span> <span class="title">An Essay Concerning Human Understanding, Volume 2  MDCXC, Based on the 2nd Edition, Books 3 and 4.</span></p>
<p class="bib_entry"><span class="author">Locke, John.</span> <span class="title">An Essay Concerning Humane Understanding, Volume 1  MDCXC, Based on the 2nd Edition, Books 1 and 2.</span></p>
<p class="bib_entry"><span class="author">Lowell, James Russell.</span> <span class="title">Among My Books. Second Series.</span></p>
<p class="bib_entry"><span class="author">Lucretius Carus, Titus; Leonard, William Ellery.</span> <span class="title">On the Nature of Things.</span></p>
<p class="bib_entry"><span class="author">Luther, Martin; Graebner, Theodore.</span> <span class="title">Commentary on the Epistle to the Galatians.</span></p>
<p class="bib_entry"><span class="author">Maag, Carl R.; Rohrer, Steve.</span> <span class="title">Project Trinity 1945-1946.</span></p>
<p class="bib_entry"><span class="author">MacCulloch, J. A. (John Arnott).</span> <span class="title">The Religion of the Ancient Celts.</span></p>
<p class="bib_entry"><span class="author">Machiavelli, Niccolò; Thomson, Ninian Hill.</span> <span class="title">Discourses on the First Decade of Titus Livius.</span></p>

    </div>
</div>
<div class="recto">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Mackenzie, Donald A. (Donald Alexander).</span> <span class="title">Myths of Babylonia and Assyria.</span></p>
<p class="bib_entry"><span class="author">Mandeville, John, Sir.</span> <span class="title">The Travels of Sir John Mandeville.</span></p>
<p class="bib_entry"><span class="author">Marcus Aurelius, Emperor of Rome.</span> <span class="title">Meditations.</span></p>
<p class="bib_entry"><span class="author">Marlowe, Christopher; Dyce, Alexander.</span> <span class="title">The Tragical History of Doctor Faustus  From the Quarto of 1604.</span></p>
<p class="bib_entry"><span class="author">Masters, Maxwell T. (Maxwell Tylden).</span> <span class="title">Vegetable Teratology An Account of the Principal Deviations from the Usual Construction of Plants.</span></p>
<p class="bib_entry"><span class="author">Mather, Cotton; Mather, Increase.</span> <span class="title">The Wonders of the Invisible World Being an Account of the Tryals of Several Witches Lately Executed in New-England, to which is added A Farther Account of the Tryals of the New-England Witches.</span></p>
<p class="bib_entry"><span class="author">Maxwell, James Clerk.</span> <span class="title">Five of Maxwell's Papers.</span></p>
<p class="bib_entry"><span class="author">Melville, Herman.</span> <span class="title">Moby Dick, or, the whale.</span></p>
<p class="bib_entry"><span class="author">Mercer, John Edward.</span> <span class="title">Nature Mysticism.</span></p>
<p class="bib_entry"><span class="author">Milton, John.</span> <span class="title">Paradise Lost.</span></p>
<p class="bib_entry"><span class="author">Muir, John.</span> <span class="title">The Yosemite.</span></p>
<p class="bib_entry"><span class="author">Muir, M. M. Pattison (Matthew Moncrieff Pattison).</span> <span class="title">The Story of Alchemy and the Beginnings of Chemistry.</span></p>
<p class="bib_entry"><span class="author">Müller, F. Max (Friedrich Max).</span> <span class="title">Dhammapada, a collection of verses; being one of the canonical books of the Buddhists.</span></p>
<p class="bib_entry"><span class="author">National Atomic Museum (U.S.).</span> <span class="title">Trinity site.</span></p>
<p class="bib_entry"><span class="author">Newton, Isaac, Sir.</span> <span class="title">Observations upon the Prophecies of Daniel, and the Apocalypse of St. John.</span></p>
<p class="bib_entry"><span class="author">Newton, Isaac, Sir.</span> <span class="title">Opticks or, a Treatise of the Reflections, Refractions, Inflections, and Colours of Light.</span></p>
<p class="bib_entry"><span class="author">Newton, Isaac, Sir.</span> <span class="title">The Chronology of Ancient Kingdoms Amended To which is Prefix'd, A Short Chronicle from the First Memory of Things in Europe, to the Conquest of Persia by Alexander the Great.</span></p>
<p class="bib_entry"><span class="author">Nicholls, H. G. (Henry George).</span> <span class="title">Iron Making in the Olden Times as instanced in the Ancient Mines, Forges, and Furnaces of The Forest of Dean.</span></p>
<p class="bib_entry"><span class="author">Nicholson, Henry Alleyne.</span> <span class="title">The Ancient Life History of the Earth  A Comprehensive Outline of the Principles and Leading Facts of  Palæontological Science.</span></p>

    </div>
</div>
<div class="page_break"> </div>
<div class="verso">
    <div class="bibliography_container">
        
<p class="bib_entry"><span class="author">Nietzsche, Friedrich Wilhelm; Common, Thomas.</span> <span class="title">Thus Spake Zarathustra  A book for all and none.</span></p>
<p class="bib_entry"><span class="author">Nietzsche, Friedrich Wilhelm; Harvey, Alexander.</span> <span class="title">Human, All Too Human: A Book for Free Spirits.</span></p>
<p class="bib_entry"><span class="author">Olcott, William Tyler.</span> <span class="title">A Field Book of the Stars.</span></p>
<p class="bib_entry"><span class="author">Ovid; Riley, Henry T. (Henry Thomas).</span> <span class="title">The Metamorphoses of Ovid, Books I-VII.</span></p>
<p class="bib_entry"><span class="author">Ovid; Riley, Henry T. (Henry Thomas).</span> <span class="title">The Metamorphoses of Ovid, Books VIII-XV.</span></p>
<p class="bib_entry"><span class="author">Paramananda, Swami.</span> <span class="title">The Upanishads.</span></p>
<p class="bib_entry"><span class="author">Parkman, Francis.</span> <span class="title">Montcalm and Wolfe.</span></p>
<p class="bib_entry"><span class="author">Parkman, Francis.</span> <span class="title">The Oregon Trail: sketches of prairie and Rocky-Mountain life.</span></p>
<p class="bib_entry"><span class="author">Pinchot, Gifford.</span> <span class="title">The Training of a Forester.</span></p>
<p class="bib_entry"><span class="author">Plato; Jowett, Benjamin.</span> <span class="title">Phaedo.</span></p>
<p class="bib_entry"><span class="author">Plato; Jowett, Benjamin.</span> <span class="title">Timaeus.</span></p>
<p class="bib_entry"><span class="author">Pope, Alexander.</span> <span class="title">The Rape of the Lock and Other Poems.</span></p>
<p class="bib_entry"><span class="author">Priestley, Joseph.</span> <span class="title">Experiments and Observations on Different Kinds of Air.</span></p>
<p class="bib_entry"><span class="author">Procopius; Dewing, H. B. (Henry Bronson).</span> <span class="title">History of the Wars, Books I and II  The Persian War.</span></p>
<p class="bib_entry"><span class="author">Pushkin, Aleksandr Sergeevich; Spalding, Henry.</span> <span class="title">Eugene Oneguine [Onegin]  A Romance of Russian Life in Verse.</span></p>
<p class="bib_entry"><span class="author">Rabelais, François; Doré, Gustave; Motteux, Peter Anthony; Urquhart, Thomas, Sir.</span> <span class="title">Gargantua and Pantagruel.</span></p>
<p class="bib_entry"><span class="author">Radcliffe, Ann Ward.</span> <span class="title">The Mysteries of Udolpho.</span></p>
<p class="bib_entry"><span class="author">Raymond, Ethel T..</span> <span class="title">Tecumseh A Chronicle of the Last Great Leader of His People; Vol. 17 of Chronicles of Canada.</span></p>
<p class="bib_entry"><span class="author">Ruppelt, Edward J..</span> <span class="title">The Report on Unidentified Flying Objects.</span></p>
<p class="bib_entry"><span class="author">Ruskin, John.</span> <span class="title">Aratra Pentelici, Seven Lectures on the Elements of Sculpture Given before the University of Oxford in Michaelmas Term, 1870.</span></p>
<p class="bib_entry"><span class="author">Ruskin, John.</span> <span class="title">The Poetry of Architecture  Or, the Architecture of the Nations of Europe Considered in its Association with Natural Scenery and National Character.</span></p>


    </div>
</div>
<div class="recto">
    <div class="bibliography_container">

<p class="bib_entry"><span class="author">Ruskin, John.</span> <span class="title">The Queen of the Air  Being a Study of the Greek Myths of Cloud and Storm.</span></p>
<p class="bib_entry"><span class="author">Schiller, Friedrich.</span> <span class="title">Aesthetical Essays of Friedrich Schiller.</span></p>
<p class="bib_entry"><span class="author">Semple, Ellen Churchill.</span> <span class="title">Influences of Geographic Environment On the Basis of Ratzel's System of Anthropo-Geography.</span></p>
<p class="bib_entry"><span class="author">Seneca, Lucius Annaeus; Rouse, W. H. D. (William Henry Denham).</span> <span class="title">Apocolocyntosis.</span></p>
<p class="bib_entry"><span class="author">Shakespeare, William.</span> <span class="title">A Midsummer Night's Dream.</span></p>
<p class="bib_entry"><span class="author">Shakespeare, William.</span> <span class="title">The Tempest.</span></p>
<p class="bib_entry"><span class="author">Shakespeare, William.</span> <span class="title">The Winter's Tale.</span></p>
<p class="bib_entry"><span class="author">Shakespeare, William.</span> <span class="title">Twelfth Night.</span></p>
<p class="bib_entry"><span class="author">Shaw, George Russell.</span> <span class="title">The Genus Pinus.</span></p>
<p class="bib_entry"><span class="author">Shinran; Beck, L. Adams (Lily Adams); Yamabe, S..</span> <span class="title">Buddhist Psalms translated from the Japanese of Shinran Shonin.</span></p>
<p class="bib_entry"><span class="author">Sinclair, Upton.</span> <span class="title">The Jungle.</span></p>
<p class="bib_entry"><span class="author">Slater, John; Smith, T. Roger (Thomas Roger).</span> <span class="title">Architecture Classic and Early Christian.</span></p>
<p class="bib_entry"><span class="author">Smith, Adam.</span> <span class="title">An Inquiry into the Nature and Causes of the Wealth of Nations.</span></p>
<p class="bib_entry"><span class="author">Smyth, William J..</span> <span class="title">Mound-Builders.</span></p>
<p class="bib_entry"><span class="author">Steele, James W..</span> <span class="title">Steam, Steel and Electricity.</span></p>
<p class="bib_entry"><span class="author">Stein, Gertrude.</span> <span class="title">Tender Buttons Objects—Food—Rooms.</span></p>
<p class="bib_entry"><span class="author">Sterne, Laurence.</span> <span class="title">The Life and Opinions of Tristram Shandy, Gentleman.</span></p>
<p class="bib_entry"><span class="author">Suetonius; Forester, Thomas; Thomson, Alexander, M.D..</span> <span class="title">The Lives of the Twelve Caesars, Volume 02: Augustus.</span></p>
<p class="bib_entry"><span class="author">Sunzi (6th cent. BC); Giles, Lionel.</span> <span class="title">The Art of War.</span></p>
<p class="bib_entry"><span class="author">Swedenborg, Emanuel.</span> <span class="title">Earths In Our Solar System Which Are Called Planets, and Earths In The Starry Heaven Their Inhabitants, And The Spirits And Angels There.</span></p>
<p class="bib_entry"><span class="author">Tagore, Rabindranath.</span> <span class="title">Creative Unity.</span></p>
<p class="bib_entry"><span class="author">Tagore, Rabindranath.</span> <span class="title">Stray Birds.</span></p>
<p class="bib_entry"><span class="author">Tasso, Torquato; Fairfax, Edward.</span> <span class="title">Jerusalem Delivered.</span></p>
<p class="bib_entry"><span class="author">Taylor, Frederick Winslow.</span> <span class="title">The Principles of Scientific Management.</span></p>

    </div>
</div>
<div class="page_break"> </div>
<div class="verso">
    <div class="bibliography_container">

<p class="bib_entry"><span class="author">Tennyson, Alfred Tennyson, Baron; Schell, Frederic B..</span> <span class="title">Beauties of Tennyson.</span></p>
<p class="bib_entry"><span class="author">Tesla, Nikola.</span> <span class="title">Experiments with Alternate Currents of High Potential and High Frequency  A Lecture Delivered before the Institution of Electrical Engineers, London.</span></p>
<p class="bib_entry"><span class="author">Theocritus; Calverley, Charles Stuart.</span> <span class="title">Theocritus, translated into English Verse.</span></p>
<p class="bib_entry"><span class="author">Thompson, Holland.</span> <span class="title">The Age of Invention : a chronicle of mechanical conquest.</span></p>
<p class="bib_entry"><span class="author">Thoreau, Henry David.</span> <span class="title">A Week on the Concord and Merrimack Rivers.</span></p>
<p class="bib_entry"><span class="author">Thucydides; Crawley, Richard.</span> <span class="title">The History of the Peloponnesian War.</span></p>
<p class="bib_entry"><span class="author">Trotsky, Leon.</span> <span class="title">From October to Brest-Litovsk.</span></p>
<p class="bib_entry"><span class="author">Turgenev, Ivan Sergeevich; Garnett, Constance.</span> <span class="title">A Sportsman's Sketches Works of Ivan Turgenev, Volume I.</span></p>
<p class="bib_entry"><span class="author">Twain, Mark.</span> <span class="title">Life on the Mississippi.</span></p>
<p class="bib_entry"><span class="author">Twain, Mark.</span> <span class="title">The Adventures of Tom Sawyer.</span></p>
<p class="bib_entry"><span class="author">Tyndall, John.</span> <span class="title">Six Lectures on Light Delivered In The United States In 1872-1873.</span></p>
<p class="bib_entry"><span class="author">Ullman, Harlan; Wade, James P..</span> <span class="title">Shock and Awe — Achieving Rapid Dominance.</span></p>
<p class="bib_entry"><span class="author">United States. Army. Corps of Engineers. Manhattan District.</span> <span class="title">The Atomic Bombings of Hiroshima and Nagasaki.</span></p>
<p class="bib_entry"><span class="author">United States. Office of Civil Defense.</span> <span class="title">In Time of Emergency  A Citizen's Handbook on Nuclear Attack, Natural Disasters (1968).</span></p>
<p class="bib_entry"><span class="author">Vincent, W. T. (William Thomas).</span> <span class="title">In Search of Gravestones Old and Curious.</span></p>
<p class="bib_entry"><span class="author">Virgil.</span> <span class="title">The Eclogues.</span></p>
<p class="bib_entry"><span class="author">Virgil.</span> <span class="title">The Georgics.</span></p>
<p class="bib_entry"><span class="author">Virgil; Dryden, John.</span> <span class="title">The Aeneid  English.</span></p>
<p class="bib_entry"><span class="author">Vitruvius Pollio.</span> <span class="title">The Ten Books on Architecture.</span></p>
<p class="bib_entry"><span class="author">Volney, C.-F. (Constantin-François).</span> <span class="title">The Ruins, or, Meditation on the Revolutions of Empires and the Law of Nature.</span></p>
<p class="bib_entry"><span class="author">Walton, Izaak.</span> <span class="title">The Compleat Angler.</span></p>
<p class="bib_entry"><span class="author">Whitman, Walt.</span> <span class="title">Leaves of Grass.</span></p>

    </div>
</div>
<div class="recto">
    <div class="bibliography_container">

<p class="bib_entry"><span class="author">Wilkins, John.</span> <span class="title">The Discovery of a World in the Moone  Or, A Discovrse Tending To Prove That 'Tis Probable There May Be Another Habitable World In That Planet.</span></p>
<p class="bib_entry"><span class="author">Wister, Owen.</span> <span class="title">The Virginian, a Horseman of the Plains.</span></p>
<p class="bib_entry"><span class="author">Wordsworth, William.</span> <span class="title">Poems in Two Volumes, Volumes 1 and 2.</span></p>
<p class="bib_entry"><span class="author">Worthington, A. M. (Arthur Mason).</span> <span class="title">The Splash of a Drop.</span></p>

    </div>
</div>
