## -*- coding: utf-8 -*-
<div class="poem_container">

<p class="concluding_first_p">To live indeed is to be again our selves, which being not only an hope but an evidence in noble beleevers; 'Tis all one to lye in St Innocents Church-yard, as in the Sands of Ægypt: Ready to be any thing, in the extasie of being ever, and as content with six foot as the Moles of Adrianus.</p>

<p class="concluding_lucan">Tabesne cadavera solvat</p>
<p class="concluding_lucan">An rogus haud refert.</p>

<p class="concluding_last_p">But who can be drowsie at that howr which freed us from everlasting sleep?  or have slumbring thoughts at that time, when sleep it self must end, and as some conjecture all shall awake again?</p>

<p class="concluding_citation">— Sir Thomas Browne</p>
                
</div>
