## -*- coding: utf-8 -*-
<div class="poem_container">

<div class="frontispiece_container">
    
<svg width="300" height="450" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
  <line x1="20" y1="20" x2="41" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="86" x2="41" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="86" x2="41" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="152" x2="41" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="152" x2="41" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="218" x2="41" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="218" x2="41" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="284" x2="41" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="284" x2="41" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="350" x2="41" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="350" x2="41" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="416" x2="41" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="20" x2="41" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="86" x2="41" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="53" x2="62" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="53" x2="62" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="86" x2="41" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="152" x2="41" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="119" x2="62" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="119" x2="62" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="152" x2="41" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="218" x2="41" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="185" x2="62" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="185" x2="62" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="218" x2="41" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="284" x2="41" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="251" x2="62" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="251" x2="62" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="284" x2="41" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="350" x2="41" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="317" x2="62" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="317" x2="62" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="350" x2="41" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="20" y1="416" x2="41" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="383" x2="62" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="383" x2="62" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="53" x2="62" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="20" x2="83" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="53" x2="62" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="119" x2="62" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="86" x2="83" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="86" x2="83" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="119" x2="62" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="185" x2="62" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="152" x2="83" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="152" x2="83" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="185" x2="62" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="251" x2="62" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="218" x2="83" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="218" x2="83" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="251" x2="62" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="317" x2="62" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="284" x2="83" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="284" x2="83" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="317" x2="62" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="383" x2="62" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="350" x2="83" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="350" x2="83" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="41" y1="383" x2="62" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="416" x2="83" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="20" x2="83" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="86" x2="83" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="53" x2="104" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="53" x2="104" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="86" x2="83" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="152" x2="83" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="119" x2="104" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="119" x2="104" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="152" x2="83" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="218" x2="83" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="185" x2="104" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="185" x2="104" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="218" x2="83" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="284" x2="83" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="251" x2="104" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="251" x2="104" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="284" x2="83" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="350" x2="83" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="317" x2="104" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="317" x2="104" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="350" x2="83" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="62" y1="416" x2="83" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="383" x2="104" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="383" x2="104" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="53" x2="104" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="20" x2="125" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="53" x2="104" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="119" x2="104" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="86" x2="125" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="86" x2="125" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="119" x2="104" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="185" x2="104" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="152" x2="125" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="152" x2="125" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="185" x2="104" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="251" x2="104" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="218" x2="125" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="218" x2="125" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="251" x2="104" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="317" x2="104" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="284" x2="125" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="284" x2="125" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="317" x2="104" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="383" x2="104" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="350" x2="125" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="350" x2="125" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="83" y1="383" x2="104" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="416" x2="125" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="20" x2="125" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="86" x2="125" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="53" x2="146" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="53" x2="146" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="86" x2="125" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="152" x2="125" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="119" x2="146" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="119" x2="146" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="152" x2="125" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="218" x2="125" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="185" x2="146" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="185" x2="146" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="218" x2="125" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="284" x2="125" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="251" x2="146" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="251" x2="146" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="284" x2="125" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="350" x2="125" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="317" x2="146" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="317" x2="146" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="350" x2="125" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="104" y1="416" x2="125" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="383" x2="146" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="383" x2="146" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="53" x2="146" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="20" x2="167" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="53" x2="146" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="119" x2="146" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="86" x2="167" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="86" x2="167" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="119" x2="146" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="185" x2="146" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="152" x2="167" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="152" x2="167" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="185" x2="146" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="251" x2="146" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="218" x2="167" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="218" x2="167" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="251" x2="146" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="317" x2="146" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="284" x2="167" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="284" x2="167" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="317" x2="146" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="383" x2="146" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="350" x2="167" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="350" x2="167" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="125" y1="383" x2="146" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="416" x2="167" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="20" x2="167" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="86" x2="167" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="53" x2="188" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="53" x2="188" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="86" x2="167" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="152" x2="167" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="119" x2="188" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="119" x2="188" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="152" x2="167" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="218" x2="167" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="185" x2="188" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="185" x2="188" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="218" x2="167" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="284" x2="167" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="251" x2="188" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="251" x2="188" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="284" x2="167" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="350" x2="167" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="317" x2="188" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="317" x2="188" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="350" x2="167" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="146" y1="416" x2="167" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="383" x2="188" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="383" x2="188" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="53" x2="188" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="20" x2="209" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="53" x2="188" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="119" x2="188" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="86" x2="209" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="86" x2="209" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="119" x2="188" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="185" x2="188" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="152" x2="209" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="152" x2="209" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="185" x2="188" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="251" x2="188" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="218" x2="209" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="218" x2="209" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="251" x2="188" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="317" x2="188" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="284" x2="209" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="284" x2="209" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="317" x2="188" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="383" x2="188" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="350" x2="209" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="350" x2="209" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="167" y1="383" x2="188" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="416" x2="209" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="20" x2="209" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="86" x2="209" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="53" x2="230" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="53" x2="230" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="86" x2="209" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="152" x2="209" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="119" x2="230" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="119" x2="230" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="152" x2="209" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="218" x2="209" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="185" x2="230" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="185" x2="230" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="218" x2="209" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="284" x2="209" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="251" x2="230" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="251" x2="230" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="284" x2="209" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="350" x2="209" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="317" x2="230" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="317" x2="230" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="350" x2="209" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="188" y1="416" x2="209" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="383" x2="230" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="383" x2="230" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="53" x2="230" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="20" x2="251" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="53" x2="230" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="119" x2="230" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="86" x2="251" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="86" x2="251" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="119" x2="230" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="185" x2="230" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="152" x2="251" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="152" x2="251" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="185" x2="230" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="251" x2="230" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="218" x2="251" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="218" x2="251" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="251" x2="230" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="317" x2="230" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="284" x2="251" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="284" x2="251" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="317" x2="230" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="383" x2="230" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="350" x2="251" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="350" x2="251" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="209" y1="383" x2="230" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="416" x2="251" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="20" x2="251" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="86" x2="251" y2="53" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="53" x2="272" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="53" x2="272" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="86" x2="251" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="152" x2="251" y2="119" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="119" x2="272" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="119" x2="272" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="152" x2="251" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="218" x2="251" y2="185" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="185" x2="272" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="185" x2="272" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="218" x2="251" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="284" x2="251" y2="251" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="251" x2="272" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="251" x2="272" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="284" x2="251" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="350" x2="251" y2="317" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="317" x2="272" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="317" x2="272" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="350" x2="251" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="230" y1="416" x2="251" y2="383" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="383" x2="272" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="383" x2="272" y2="416" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="53" x2="272" y2="20" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="53" x2="272" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="119" x2="272" y2="86" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="119" x2="272" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="185" x2="272" y2="152" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="185" x2="272" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="251" x2="272" y2="218" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="251" x2="272" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="317" x2="272" y2="284" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="317" x2="272" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="383" x2="272" y2="350" stroke="#444444" stroke-width="2"/>
  <line x1="251" y1="383" x2="272" y2="416" stroke="#444444" stroke-width="2"/>
  <circle cx="20" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="20" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="20" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="20" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="20" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="20" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="20" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="41" cy="53" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="41" cy="119" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="41" cy="185" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="41" cy="251" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="41" cy="317" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="41" cy="383" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="62" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="83" cy="53" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="83" cy="119" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="83" cy="185" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="83" cy="251" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="83" cy="317" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="83" cy="383" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="104" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="125" cy="53" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="125" cy="119" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="125" cy="185" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="125" cy="251" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="125" cy="317" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="125" cy="383" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="146" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="167" cy="53" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="167" cy="119" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="167" cy="185" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="167" cy="251" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="167" cy="317" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="167" cy="383" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="188" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="209" cy="53" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="209" cy="119" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="209" cy="185" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="209" cy="251" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="209" cy="317" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="209" cy="383" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="230" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="251" cy="53" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="251" cy="119" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="251" cy="185" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="251" cy="251" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="251" cy="317" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="251" cy="383" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="20" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="86" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="152" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="218" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="284" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="350" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
  <circle cx="272" cy="416" r="5" stroke="#444444" stroke-width="2" fill="#ffffff"/>
</svg>


<p class="frontispiece_prose">Saint Paul <i>had rather speak five words in a known then ten 
thousand in an unknowne tongue: That is as little as could 
well be spoken.</i></p>
<p class="frontispiece_source">— Sir Thomas Browne</span></p>

</div>

</div>
