## -*- coding: utf-8 -*-
<div class="poem_container">
    <p class="pi_printing_date">First Generation, November 22, 2015</p>
    <p class="pi_copyright"><i>Copyright © 2015 by Stephen Pentecost.</i></p>
    <p class="pi_statement">This is a work of computationally constructed writing created as a project for <b>nanogenmo 2015</b>, and as a first prototype of a planned book-length project.  Except for this page, the title page, and the frontispiece image, every bit of content in this document was extract from freely available texts and images; a list of Sources Consumed is available below. For more information, see http://montaukedp.com/posts/browne.html.</p>
</div>
